<div class="page page-table" data-ng-controller="TrafficsLinkCtrl">
  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
      <h2 class="section-header">Traffics</h2>
    </div>
    <div class="col-md-12">
      <section class="panel panel-default table-dynamic cl-panel-loading">
        <div class="panel-body">
          <div class="table-filters">
            <div class="row">
              <div class="col-sm-6 col-xs-12 text-left">
                <md-button class="md-raised btn-w-lg md-primary" data-ng-click="addToBlacklist()" ng-disabled="!selectedItemExists()">
                  Add To Blacklist
                </md-button>
                <md-button class="md-raised btn-w-lg md-primary" data-ng-click="export()" style="margin-left: 20px;">
                  Export
                </md-button>
                <md-button class="md-raised btn-w-lg md-primary" data-ng-click="reload()" style="margin-left: 20px;">Refresh</md-button>
              </div>
            </div>
            <div class='divider divider-md' style="height: 1px;margin: 15px 0;"></div>
            <div class="row">
              <div class="col-md-2 col-xs-10" style="width: 200px">
                <md-datepicker ng-model="fromDate" md-placeholder="From date"></md-datepicker>
              </div>
              <div class="col-md-2 col-xs-10" style="width: 200px">
                <md-datepicker ng-model="toDate" md-placeholder="To date"></md-datepicker>
              </div>
              <div class="col-md-2 col-xs-10" style="width: 100px">
                <md-button class="md-raised btn-w-lg md-primary" ng-disabled="!dateSelected()" data-ng-click="date()" style="margin-left: 20px;width: 100px;min-width: 0;">
                  Go
                </md-button>
              </div>
            </div>
            <div class='divider divider-md' style="height: 1px;margin: 15px 0;"></div>
            <div class="row">
              <tags-input ng-model="links" 
                          add-from-autocomplete-only="true"
                          placeholder="Search by safe link"
                          on-tag-added=addLink()
                          on-tag-removed=firstPage()>
                <auto-complete source="loadTags($query)" min-length="1" highlightMatchedText="false"></auto-complete>
              </tags-input>
            </div>
            <div class='divider divider-md' style="height: 1px;margin: 10px 0;"></div>
            <div class="row">
              <div class="col-md-3 col-xs-10" ng-show="admin" ng-cloak>
                <span class="ui-select" style="display: block">
                  <select data-ng-model="ownerFilter" data-ng-model-options='{ debounce: 1000 }' data-ng-change="ownerFilterChange()">
                    <option value="">All</option>
                    <option data-ng-repeat="user in users" value="{{user}}">{{user}}</option>
                  </select>
                </span>
              </div>
              <div class="col-md-3 col-xs-10">
	                <input type="text"
	                     placeholder="Search IP/Referer..."
	                     class="form-control"
	                     data-ng-model="searchReferer"
	                     data-ng-model-options='{ debounce: 1000 }'
	                     data-ng-change="searchKeywordChange()">
		          </div>
              <div class="col-md-3 col-xs-2">
                <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40" ng-show='searchUpdating'></md-progress-circular>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table cl-table-with-buttons">
              <thead>
                <tr>
                  <th class='with-checkbox'>
                    <md-checkbox ng-model="headerCheckbox" ng-change="toggleAllCheckboxes()" aria-label="Select"></md-checkbox>
                  </th>
                  <th>
                    <div class="th">IP Address</div>
                  </th>
                  <th>
                    <div class="th">Generated</div>
                  </th>
                  <th ng-show="admin">
                    <div class="th">Owner</div>
                  </th>
                  <th>
                    <div class="th">Passed Filter?</div>
                  </th>
                  <th>
                    <div class="th" style="width:100px">Geolocation</div>
                  </th>
                  <th>
                    <div class="th">Accessed Time</div>
                  </th>
                  <th>
                    <div class="th">ASO</div>
                  </th>
                  <th>
                    <div class="th">Organization</div>
                  </th>
                  <th>
                    <div class="th">ISP</div>
                  </th>
                  <th>
                    <div class="th">Connection Type</div>
                  </th>
                  <th>
                    <div class="th">Proxy</div>
                  </th>
                  <th>
                    <div class="th">Hostnames</div>
                  </th>
                  <th>
                    <div class="th">Browser</div>
                  </th>
                  <th>
                    <div class="th">OS</div>
                  </th>
                  <th>
                    <div class="th">Referer</div>
                  </th>
                  <th>
                    <div class="th">Details</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="traffic in traffics" ng-class="{isBot: traffic.isBot}">
                  <td class='with-checkbox'>
                    <md-checkbox ng-model="traffic['selected']" aria-label="Select"></md-checkbox>
                  </td>
                  <td>
                    <div ngclipboard data-clipboard-text="{{traffic.ip}}" ngclipboard-success="onSuccess(e);" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 110px;cursor:pointer;height: 20px;">
                      {{traffic.ip}}
                    </div>
                    <div style="display:none">Copied</div>

                    <md-tooltip md-delay="0">
                      {{traffic.ip}}
                    </md-tooltip>
                  </td>
                  <td>
                    <div>
                      <div ngclipboard data-clipboard-text="{{traffic.link_generated}}" ngclipboard-success="onSuccess(e);" style="cursor:pointer; width: 250px;word-break: break-word;">
                        <div class="ellipsis" style="max-width: 275px;">
                          {{traffic.short_generated}}
                        </div>
                        <div class="keywords">{{traffic.keywords}}</div>
                      </div>
                      <div style="display:none">Copied</div>

                      <md-tooltip md-delay="0">
                        {{traffic.link_generated}}
                      </md-tooltip>
                    </div>
                  </td>
                  <td ng-show="admin">{{traffic.owner}}</td>
                  <td style="text-align:center">
                    <span class="logo-icon zmdi zmdi-{{traffic.icon}}"></span>
                  </td>
                  <td>
                    <div>
                      <div ngclipboard data-clipboard-text="{{traffic.short_location}}" ngclipboard-success="onSuccess(e);" style="cursor:pointer">
                        {{traffic.short_location}}
                      </div>
                      <div style="display:none">Copied</div>

                      <md-tooltip md-delay="0">
                        {{traffic.connection.location}}
                      </md-tooltip>
                    </div>
                  </td>
                  <td><span ng-bind="traffic.access_time | date:'MMM d h:mm a'"></span></td>
                  <td>{{traffic.connection.aso}}</td>
                  <td>{{traffic.connection.org}}</td>
                  <td>{{traffic.connection.isp}}</td>
                  <td>{{traffic.connection.type}}</td>
                  <td>{{traffic.connection.proxy}}</td>
                  <td>{{traffic.connection.hostnames}}</td>
                  <td>{{traffic.browser}}</td>
                  <td>{{traffic.os}}</td>
                  <td>
                    <div>
                      <div ngclipboard data-clipboard-text="{{traffic.referer}}" ngclipboard-success="onSuccess(e);" style="cursor:pointer">
                        {{traffic.domain_referer}}
                      </div>
                      <div style="display:none">Copied</div>

                      <md-tooltip md-delay="0" style="height: 100px;">
                        <div style="width: 150px; word-break: break-all;height: 100px;">{{traffic.referer}}</div>
                      </md-tooltip>
                    </div>
                  </td>
                  <td class='with-button'>
                    <a href='/api/link-traffics/{{traffic._id}}' target="_blank" class="md-icon-button md-primary" aria-label="View Details" tooltip-placement="top"
                      uib-tooltip="Edit" tooltip-append-to-body="true">
                      <span class="logo-icon zmdi zmdi-view-dashboard"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <footer class="table-footer">
          <div class="row">
            <div class="col-md-6 page-num-info">
              <span>
              Show 
              <select data-ng-model="numPerPage"
                data-ng-options="num for num in numPerPageOpt"
                data-ng-change="onNumPerPageChange()">
              </select> 
              entries per page
              </span>
            </div>
            <div class="col-md-6 page-num-info"></div>
            <div class="col-md-6 text-right pagination-container">
              <ul class="pagination-sm pagination ng-isolate-scope ng-valid" ng-model="currentPage" boundary-links="true" aria-invalid="false">
                <li ng-disabled="!hasPrev()" class="pagination-first ng-scope">
                  <a href="" ng-click="firstPage()" class="ng-binding">First</a>
                </li>
                <li ng-disabled="!hasPrev()" class="pagination-first ng-scope">
                  <a href="" ng-click="prevPage()" class="ng-binding">Prev</a>
                </li>
                <li class="pagination-last ng-scope" style="padding: 5px 8px;font-size: 12px;line-height: 20px;position: relative;float: left;margin-left: 10px;">
                  Page {{page()}}
                </li>
                <li ng-disabled="!hasNext()" class="pagination-last ng-scope" style="">
                  <a href="" ng-click="nextPage()" class="ng-binding">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </div>

</div>