<!doctype html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title><%= title %></title>
        <meta name="description" content="Responsive Admin Web App with Bootstrap and AngularJS">
        <meta name="keywords" content="angularjs admin, admin templates, admin themes, bootstrap admin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="this-is-a-static-dir/images/favicon.ico" type="image/x-icon"/>
        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="this-is-a-static-dir/styles/loader.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,300italic,500italic|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="this-is-a-static-dir/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="this-is-a-static-dir/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
        <!-- end Needs images -->
            
        <!-- build:css({.tmp,client}) styles/main.css -->
        <link rel="stylesheet" href="this-is-a-static-dir/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="this-is-a-static-dir/styles/bootstrap.css">
        <link rel="stylesheet" href="this-is-a-static-dir/styles/ui.css">
        <link rel="stylesheet" href="this-is-a-static-dir/styles/main.css">
        <!-- endbuild -->

        <% if(typeof username !== 'undefined') { %>
        <script type='text/javascript'>
        var authData = {
            username: '<%= username %>',
            role: '<%= role %>'
        };
        </script>
        <% } %>

    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page 
          data-ng-controller="AppCtrl"
          data-ng-class=" {'nav-collapsed-min': main.menu === 'collapsed'} ">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <header data-ng-include=" 'this-is-a-static-dir/app/layout/header.html' " id="header" class="header-container bg-white header-fixed"></header>

        <div class="main-container">
            <aside data-ng-include=" 'this-is-a-static-dir/app/layout/sidebar.html' "
                   id="nav-container"
                   class="nav-container nav-fixed"  
                   data-ng-class="{ 'bg-dark': true }">
            </aside>

            <div id="content" class="content-container">
                <section data-ui-view class="view-container {{main.pageTransition.class}}"></section>
            </div>
        </div>

        <script src="this-is-a-static-dir/scripts/app.js"></script>
    </body>
</html>
